In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
#create a series
pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

a   -0.238919
b   -0.606621
c    0.194959
d   -0.132266
e    0.156504
dtype: float64

In [9]:
s = pd.Series(np.random.randn(5))
print (s)

0   -0.965699
1   -1.735621
2   -2.041271
3    1.003370
4    0.121430
dtype: float64

In [10]:
print("\n")
print(s[0])
print("\n")
print(s[:3])

-0.965698764109


0   -0.965699
1   -1.735621
2   -2.041271
dtype: float64

In [11]:
#create a dataframe
df = pd.DataFrame(s,columns = ['Column 1'])
df

   Column 1
0 -0.965699
1 -1.735621
2 -2.041271
3  1.003370
4  0.121430

In [12]:
#Can access columns by name
df['Column 1']

0   -0.965699
1   -1.735621
2   -2.041271
3    1.003370
4    0.121430
Name: Column 1, dtype: float64

In [15]:
#Easy to add columns
df['Column 2'] = df['Column 1'] *4
df

   Column 1  Column 2
0 -0.965699 -3.862795
1 -1.735621 -6.942483
2 -2.041271 -8.165083
3  1.003370  4.013479
4  0.121430  0.485718

In [17]:
#Other manipulation, like sorting -- if you want to perserve, set equal to var
df.sort_values(by = 'Column 2')

   Column 1  Column 2
2 -2.041271 -8.165083
1 -1.735621 -6.942483
0 -0.965699 -3.862795
4  0.121430  0.485718
3  1.003370  4.013479

In [20]:
#Boolean indexing
df[df['Column 2'] <= 2]

   Column 1  Column 2
0 -0.965699 -3.862795
1 -1.735621 -6.942483
2 -2.041271 -8.165083
4  0.121430  0.485718

In [21]:
df.apply(lambda x: min(x) + max(x))

Column 1   -1.037901
Column 2   -4.151604
dtype: float64

In [22]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean  -0.723558 -2.894233
std    1.276279  5.105117
min   -2.041271 -8.165083
25%   -1.735621 -6.942483
50%   -0.965699 -3.862795
75%    0.121430  0.485718
max    1.003370  4.013479